{
	"version": "2017-02-28",
	"payload": {
  	"count": 1,
  	"endTime": "$util.time.nowISO8601()",
  	"endTimestamp": $util.time.nowEpochMilliSeconds(),
  	"startTime": "$util.time.nowISO8601()",
  	"startTimestamp": $util.time.nowEpochMilliSeconds(),
		"time": 0
	}
}
